/* global setting start */
:root {
    --primery-color-100: hsl(26, 100%, 55%);
    --primery-color-200: hsl(25, 100%, 94%);

    --neutral-dark-blue: hsl(220, 13%, 13%);
    --neutrel-dark-grayish-blue: hsl(219, 9%, 45%);
    --neutrel-Grayish-blue: hsl(220, 14%, 75%);
    --neutrel-Light-grayish: hsl(223, 64%, 98%);

    --white-color: hsl(0, 0%, 100%);
    --black-color: rgba(0, 0, 0, .75);

    --transition: 0.1s linear;

}

* {
    transition: var(--transition);
    font-family: 'kumbh';
}

.container {
  
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width:768px) {
    .container {
        width: 700px;
    }
}

@media (min-width:992px) {
    .container {
        width: 900px;
    }
}

/* global setting end */


/* header start */
header {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .50);
    border-bottom: 1px solid white;
    padding: 20px;
    width: 100%;
   
   
}

header .container {
    display: flex;
}

.header-icon {
    display: block;
    font-size: 20px;
    color: var(--neutrel-dark-grayish-blue);
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
    flex-grow: 1;
}

.header-right {
    justify-content: flex-end;

}

.header-left img {
    height: 15px;
    margin-left: 20px;
}

.header-right img {
    aspect-ratio: 1 / 1;
    height: 30px;
    margin-left: 20px;
}

.header-icon {
    cursor: pointer;
    user-select: none;
}

.header-icon:hover {
    color: var(--primery-color-100);
}

.nav-list {
    display: none;
}

.cart {
    position: absolute;
    display: none;
    background-color: white;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
    height: 40%;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 15px 18px rgba(0, 0, 0, .4);
}

.cart-header {
    padding: 10px 20px;
    border-bottom: 1px solid var(--neutrel-Grayish-blue);
    font-size: 20px;
    font-weight: bold;
}

.cart-show {
    display: flex;
    flex-direction: column;
    padding: 15px;


}

.cart-body {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty{
    font-size: 20px;
    font-weight: bold;
    color: var(--neutral-dark-blue);
}
.cart-body img{
    border-radius: 7px;
    margin-right: 15px;
    width: 40px;
}
.cart-body p{
    max-width: 200px;
}
.cart-body p .total{
    color: black;
}

.checkout {
    border-radius: 7px;
    background-color: var(--primery-color-100);
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
}

.drawer-container{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: calc(100% + 80px);
    width: 100%;
    background-color: rgba(0, 0, 0, .50);
    overflow: hidden;
}
.drawer-open{
    display: block;
    
}
.drawer{
    height: 100%;
    width: 60%;
    background-color: white;
}
.drawer .nav-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.drawer .nav-list li a{
    display: block;
    text-decoration: none;
    color: var(--neutral-dark-blue);
    padding: 10px;
    font-weight: bold;
}
.drawer .close-drawer{
   font-size: 20px;
   padding: 20px;
   color: var(--neutrel-dark-grayish-blue);
}


@media (min-width:768px) {
    header {
        padding: 0px;

    }
    .drawer-container{
        display: none;
    }

    .menu {
        display: none;
    }

    .nav-list {
        display: flex;
        margin: 0;
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 72px;
        text-align: center;
        font-size: 15px;
        color: var(--neutrel-dark-grayish-blue);
        text-decoration: none;
        padding: 0 15px;
        position: relative;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--primery-color-100);
        transition: var(--transition);
    }

    .nav-link:hover::after {
        width: 100%;
    }

    .header-right img {
        height: 50px;
    }

    .cart {
        width: 300px;
        left: 80%;
    }
}

/* header end */


/* product section start */
.product-page {
    height: calc(100vh - 73px);
    background-color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    position: relative;


}

.product-page>* {
    flex: 1 1 50%;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}

.preview-component {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slider .product-image-holder img {
    max-width: 350px;
    border-radius: 10px;
    cursor: pointer;

}

.thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    gap: 10px;
}

.thumbnail {
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.thumbnail-click::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    transition: var(--transition);
    pointer-events: none;
    border: 4px solid var(--primery-color-100);
}

.thumbnail-active {
    background-color: rgba(255, 255, 255, 0.3);
}

.product-info {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.product-info h3 {
    color: var(--primery-color-100);
}

.product-info h1 {
    max-width: 400px;
    margin: 0;
}

.product-info .description {
    max-width: 400px;
    margin-top: 30px;
    color: var(--neutrel-dark-grayish-blue);
}

.product-info .price {
    color: black;
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;

}

.product-info .price .discount {
    font-size: 15px;
    color: var(--primery-color-100);
    margin-left: 25px;
    padding: 3px 4px;
    border-radius: 7px;
    background-color: var(--primery-color-200);
}

.price-after-discount {
    color: var(--neutrel-dark-grayish-blue);
    text-decoration: line-through;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.price-container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
}

.product-count {
    background-color: var(--neutrel-Light-grayish);
    width: fit-content;
    margin-top: 10px;
}

.product-count input {
    max-width: 60px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 25px;
}

.button-count {
    display: inline-block;
    outline: none;
    border: none;
    background-color: transparent;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    color: var(--primery-color-100);
    transition: all 0.1s linear;
    user-select: none;
}

.button-count:hover {
    background-color: var(--primery-color-100);
    color: var(--neutral-dark-blue);
}

.button-count:active {
    background-color: var(--black-color);
}

.add-button {
    display: block;
    width: 200px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: var(--primery-color-100);
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 15px;

}

.add-button:hover {
    opacity: 0.7;
}

body {
    position: relative;
}

.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    display: none;
    justify-content: center;
    align-items: center;

}

.modal_open {
    display: flex;
}

.modal>div {
    max-width: 300px;

}

.modal .thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.modal .product-image-holder img {

    border-radius: 10px;
}

.modal .close {
    text-align: end;
    font-size: 30px;
    color: var(--white-color);
    cursor: pointer;
}

.modal .close:hover {
    color: var(--primery-color-100);
}

.modal .product-image-holder {
    position: relative;
}

.modal .arrow {
    position: absolute;
    content: "";
    aspect-ratio: 1 / 1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white-color);
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.modal .left-arrow {
    left: -15px;
}

.modal .right-arrow {
    right: -15px;
}


@media (max-width:600px) {

    .thumbnails {
        display: none;
    }

    .product-info {
        padding: 10px;
    }

    .slider .product-image-holder img {
        max-width: 100%;
        border-radius: 0;
    }

    .slider {
        display: block;
    }

    .form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product-count {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .product-count input {
        max-width: 200px;
    }

    .add-button {
        width: 100%;
        margin: 0;
    }

    .price-container {
        flex-direction: row;
        justify-content: space-between;

    }

    .price-after-discount {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        margin-left: 10px;
    }

}



/*.arrow{
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.left-arrow{
    left: 0;
}
.right-arrow{
    right: 0;
}*/




/* product section start */